// default vars
:root {
  --background: #f4f4f4 url(./bright_squares.png) repeat 0 0;
  --text: white;
}

// dark vars
.dark {
  --background: #464646 url(./dark_squares.png) repeat 0 0;
  --text: orange;
}

// css 
body {
  background: var(--background);
  color: var(--text);
}
