  </div> <!-- container open in index.html -->
</main>
<footer>
  <div class="container">
	<hr />
	<div class="row">
		<div class="col">
			<p><small>Chief Librarian: Las Zenow &lt;zenow@riseup.net&gt;<br />
			   Fork the source code from <a href="https://gitlab.com/trantor">gitlab</a></small>.</p>
		</div>
	{{if not .IsOnion}}
		<div class="col">
			<p class="d-flex justify-content-end"><small>This is a mirror of the <a href="https://www.torproject.org/">Tor</a> onion service:<br />
				<a href="http://kx5thpx2olielkihfyo4jgjqfb7zx7wxr3sd4xzt26ochei4m6f7tayd.onion/">http://kx5thpx2olielkihfyo4jgjqfb7zx7wxr3sd4xzt26ochei4m6f7tayd.onion</a></small></p>
		</div>
	{{end}}
	</div>
  </div> <!-- container -->
</footer>

    <!-- Placed at the end of the document so the pages load faster -->
	<script src="/js/bootstrap.bundle.min.js"></script>
	<script src="/js/theme.js"></script>
</body>
</html>
